<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "350x350.png", width: 350, alt: "profile image" %>
  </div>
  <div class="col-md-8">  
  <p>This Rails 5 application uses various types of RubyGems.</p>
  <p>Routes - Friendly ID</p>
  <p>Authentication - Devise</p>
  <p>Pagination - Kaminari</p>
  <p>Authorization - Petergate</p>
  </div>
</div>